* {
  padding: 0;
  margin: 0;
  font-family: Kumbh Sans;
}

body {
  /* height: 90vh; */
  display: flex;
  justify-content: centre;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items:center ;
  margin: 100px;
  /* height: 80vh; */
  width: 100vw;
  /* background-color: bisque; */
  /* margin: 30px; */
}
.main {
  display: flex;
  flex-direction: row;
 

}
.nav {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  /* gap: 20px; */
  
}
.right {
  display: flex;
  align-self: center;
  /* justify-content: flex-end; */
}
.imgs{
  width: 50%;
  /* display: flex; */
}
.catalogue >img{
      width: 71px;
      gap: 10px;
      border-radius: 10px;
}

.main>.imgs>.big-img{
    width: 40px;
    border-radius: 10px;
}
.nav{
  border-bottom: solid 2px gray;
}
.description{
  padding: 15px;
}
.description>h3{
  color: orange;
  /* width: 65%; */
}
.sect>h4{
  color: orange;
}
.sect> div{
  display: flex;
}
.sect> div>h4{
  margin-left: 10px;
}


  
  /* <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Your Name Here</a>.
  </div> --> */ 
